@font-face {
    font-family: "SVN-Supercell Magic";
    src: url("/fonts/SVN-Supercell Magic.otf") format("opentype");
}

body {
    margin: 0;
    padding: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
    box-shadow: 0 0 20px #000;
}